* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: Bree serif, serif;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
div {
    margin: 0;
    font-family: RobotoCondensed-Light, OpenSans-Regular;
    font-weight: 400;
}


a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    cursor: pointer;
}

body {
    background-color: rgb(211, 211, 211);
    color: black;
}
